<div class="hgss-data-header">
  <h3 class="hgss-data-title flx-left">Rescue action areas</h3>
  <a class="btn btn-lg btn-primary hgss-data-new-record flx-right" href="/rescue_actions/<%= params[:rescue_action_id] %>/areas/new">
    <i class="fa fa-plus-circle"></i> New
  </a>
</div>
<table class="table">
  <thead>
    <tr>
      <th width="250px">Map</th>
      <th>Name</th>
      <th width="160px"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @rescue_action_areas.each do |area| %>
    <tr>
      <td>
        <%= image_tag(area.map_url) %>
      </td>
      <td>
        <%= area.name %>
      </td>
      <td width="207px">
        <a class="btn btn-block btn-outline-success" href="/rescue_actions/<%= params[:rescue_action_id] %>/areas/<%= area.id %>/rescuers">
          <i class="fa fa-user"></i> Rescuers
          <% if area.rescuers.count != 0 %>
            <span class="badge badge-pill badge-success"><%= area.rescuers.count %></span>
          <% end %>
        </a>
      </td>
      <td width="207px">
        <div class="d-flex justify-content-end row-actions">
          <a class="btn btn-outline-primary" href="/rescue_actions/<%= params[:rescue_action_id] %>/areas/<%= area.id %>/edit">
            <i class="fa fa-pencil"></i> Edit
          </a>
          <a data-confirm="Are you sure?" class="btn btn-outline-danger" rel="nofollow" data-method="delete" href="/rescue_actions/<%= params[:rescue_action_id] %>/areas/<%= area.id %>">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>