<h2>Listing feed_items</h2>

<table>
  <tr>
    <th>Text</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @feed_items.each do |feed_item| %>
  <tr>
    <td><%= feed_item.text %></td>
    <td><%= feed_item.author %></td>
    <td><%= link_to 'Show', [feed_item.rescue_action, feed_item] %></td>
    <td><%= link_to 'Edit', edit_rescue_action_feed_item_path(feed_item.rescue_action, feed_item) %></td>
    <td><%= link_to 'Destroy', [feed_item.rescue_action, feed_item], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed item', new_rescue_action_feed_item_path(params[:rescue_action_id]) %>
