<p id="notice"><%= notice %></p>

<p>
  <b>Rescuer:</b>
  <%= @invite.rescuer_id %>
</p>

<p>
  <b>Status:</b>
  <%= @invite.status %>
</p>


<%= link_to 'Edit', edit_rescue_action_invite_path(@invite.rescue_action, @invite) %> |
<%= link_to 'Back', rescue_action_invites_path(@invite.rescue_action) %>
